.dockerignore
.vs/
.DS_Store
_*
WebApiRestful/bin/
WebApiRestful/obj/
WebApiRestful/.config/
WebApiRestful/.DS_Store
WebApiRestful.Data/obj/
WebApiRestful.Data/.DS_Store
WebApiRestful.Domain/obj/
WebApiRestful.Domain/.DS_Store
WebApiRestful.Infrastructure/obj/
WebApiRestful.Infrastructure/.DS_Store
WebApiRestful.Service/obj/
WebApiRestful.Service/.DS_Store